<p id="notice"><%= notice %></p>

<p>
  <strong>New label:</strong>
  <%= @label.new_label %>
</p>

<p>
  <strong>Tasks:</strong>
  <%= @label.tasks %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
