<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<p id="notice" ><%= notice %></p>

<h1>Dashboards</h1>

<div class="actions">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
  Add Task</button>

  <!-- Modal -->
  <div class="modal fade" data-backdrop="static" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <%= render 'tasks/form', task: @task, remote: true %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 border shadow">
        <h2 class='border-bottom'>Bucket-1</h2>
        <div class="droppable" id='bucket1'>
          <% @tasks.where(status: 'bucket1').each do |task|%>
            <%= render 'tasks/task', task: task %>
          <% end %>
        </div>
      </div>


        <div class="col-md-3 border shadow">
          <h2 class='border buttom'>Bucket-2</h2>
          <div class="droppable" id='bucket2'>
            
            <% @tasks.where(status: 'bucket2').each do |task|%>
              <%= render 'tasks/task', task: task %>
            <% end %>        
          
          </div>
        </div>

        <div class="col-md-3 border shadow">
          <h2 class='border buttom'>Bucket-3</h2>
          <div class="droppable" id='bucket3'>
            
            <% @tasks.where(status: 'bucket3').each do |task|%>
              <%= render 'tasks/task', task: task %>
            <% end %>
          
          </div>
        </div>

        <div class="col-md-3 border shadow">
          <h2 class='border buttom'>Bucket-4</h2>
          <div class="droppable" id='bucket4'>
            
            <% @tasks.where(status: 'bucket4').each do |task|%>
              <%= render 'tasks/task', task: task %>
            <% end %>
          </div>
        </div>
    </div>
  </div>

</div>